@use 'scss';


html {
    @extend %full-height;
    @include scss.vendors(user-select, none, webkit);

    pointer-events: none;
    scroll-behavior: smooth
}

body {
    @extend %full-height;

    margin: 0
}

@keyframes slide {
	to {
		background-position: 50px 50px
	}
}

background {
	@extend %full-height;

	display: grid;
	align-content: center;
	justify-content: center;

	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC') repeat 0 0;
	animation: slide 1s linear infinite;

	&:before {
        @include scss.size(100%);

		content: '';
		position: absolute;
		background: linear-gradient(90deg, rgb(81 91 171 / 50%) 0%, rgb(60 91 122 / 45%) 25%, rgb(61 63 96 / 50%) 50%, rgb(55 55 98 / 55%) 75%, rgb(100 111 157 / 65%) 100%)
	}
}