---
import { Image } from 'astro:assets'

import Pawn from '@public/android-chrome-512x512.png'
import Layout from '@layouts/Layout.astro'
---

<Layout>
    <div class=background>
        <div class=gardient>
            <Image src={Pawn} class=pawn alt=Schach-Bauer />
        </div>
    </div>
</Layout>

<style>
	@keyframes sliding {
		100% {
			background-position: 50px 50px
		}
	}
    
	.background, .gardient {
		width: 100%;
		height: 100%
	}

    .background {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
		animation: sliding 1s infinite;
		animation-timing-function: linear
	}

	.gardient {
		background: linear-gradient(90deg, rgb(81 91 171 / 50%) 0%, rgb(60 91 122 / 45%) 25%, rgb(61 63 96 / 50%) 50%, rgb(55 55 98 / 55%) 75%, rgb(100 111 157 / 65%) 100%);
        display: grid;
		overflow: hidden;
		align-content: center;
		justify-content: center
	}

	.pawn {
		max-width: 100vw;
    	max-height: 100vh;
		object-fit: contain;
        transform: scale(.5);
		filter: drop-shadow(8px 8px 35px black)
	}
</style>