%full-height {
    height: 100%
}

@mixin size($size) {
    width: $size;
    height: $size;
}

@mixin vendors($property, $value, $vendors...) {
    #{$property}: $value;

    @each $vendor in $vendors {
        #{'-' + $vendor + '-' + $property}: $value;
    }
}

@function var($name, $fallback: null) {
    @if ($fallback != null) {
        @return var(--#{$name}, $fallback);
    } @else {
        @return var(--#{$name});
    }
}

@function get($map, $key, $default: null) {
    @if (map-has-key($map, $key)) {
        @return map-get($map, $key);
    }
    @return $default;
}